{% import "_includes/forms" as forms %}
<div id="appearance" class="hidden">
    {{ forms.selectField({
        label: model.getAttributeLabel('template_class'),
        name: "template_class",
        options: model.getBannerDropdown(),
        value: model.template_class,
        errors: model.getErrors("template_class"),
    }) }}
    <!--

    Need to dynamically load settings based on chosen template

    -->

    {% for slug, banner in model.getBannerList() %}
        <H1>{{ banner.templateName }}</H1>
        {{ model.getBannerSettingsHtml(slug)|raw }}
    {% endfor %}

</div>