{% import "_includes/forms" as forms %}
<div id="advanced">
<input type="hidden" name="action" value="cookie-consent/settings/save-site-settings">
<input type="hidden" name="site_id" value="{{ currentSiteId }}">
<h2>Advanced</h2>
</div>