{% import "_includes/forms" as forms %}
<div id="appearance" class="hidden">
    {{ forms.selectField({
        label: model.getAttributeLabel('template_class'),
        name: "template_class",
        options: model.getBanners(),
        value: model.template_class,
        errors: model.getErrors("template_class"),
    }) }}
</div>