{% import "_includes/forms" as forms %}
<div id="advanced" class="hidden">
    {{ forms.textField({
        label: model.getAttributeLabel('cookieName'),
        instructions: 'The name of the cookie stored in visitors browsers when giving consent. Note: if you change this after visitors have given consent, they will need to give the consent again.'|t('cookie-consent'),
        id: "cookieName",
        name: "cookieName",
        disabled: not canUpdate,
        value: model.cookieName,
        errors: model.getErrors("cookieName"),
    }) }}
</div>

